body{
    scroll-behavior: smooth;
}

div{
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 0px;
    text-align: content ;
    justify-content: center;
}
h1{
    text-align: center;
    margin: 0px;
    padding: 0px;
    color: aliceblue;
    font-size: xx-large;
}

p{
    text-align: center;
    margin: 0px;
    padding: 0px;
    color: aliceblue;
    font-size: medium;
}
.parallax-window {
    min-height: 400px;
    background: transparent;
}
img{
    opacity: 0.8;
}